@charset "UTF-8";


/*
em HTML é id = em CSS é # (só pode um elemento no mesmo documento)
em HTML é class = em CSS é .(pode varios elementos)
*/
body{
    background-color: rgb(164, 250, 161);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    color: rgb(14, 114, 11);
}

h1#principal {
color: rgb(253, 253, 253);
text-align: center;
background-color: rgb(14, 114, 11) ;
}

h2{
    color: rgb(7, 46, 5);
}

.basico{
color: blue;
font-weight: bold;
}
.intermediario{
color: rgb(255, 213, 0);
}
.avançado{
color: crimson;
}
.destaque{
background-color: #80ff008f;
}