@charset "UTF-8";
body {
     background-color: rgb(0, 255, 166);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
 }

 h1 {
     color: rgb(0, 0, 0);
     text-align: center;
     background-color: rgb(221, 255, 0);
 }

 h2 {
     color: rgb(234, 0, 8);
     text-align: left;
 }

 p {
     text-align: justify;}