@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: #a9a9a9;
}

header {
    background-color: black;
    color: #ffffff;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a , footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: #ffffff;
    color: black;
}

section.imagem {
    background-color: #3c3c3c;
    color: #fffdfd;
}

section.imagem p {
    width: 400px;
    background-color: #0000005c;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}